# Ignora dependências
node_modules/

# Ignora build do Next.js
.next/

# Ignora pastas de build
dist/
out/

# Ignora arquivos/prisma gerados automaticamente
.prisma/
coverage/

# Ignora arquivos de ambiente
.env
.env.* 
